/*
页面样式
*/




/*
基本默认值
*/

html{
    font-size: 62.5%;
    color: #222;
}

::selection{
    background-color: #b3d4fc;
    text-shadow: none;
}

ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}


/*
工具样式
*/

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right{
    float: right!important;
}

.pull-left{
    float: left;!important;
}

.text-right{
    text-align: right!important;
}

.text-left{
    text-align: left!important;
}

.hide{
    display: none!important;
}

.show{
    display: block!important;
}

.invisible{
    visibility: hidden;
}

.text-hide{
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0px;
}

.clearfix:before,
.clearfix:after{
    content: ' ';
    display: none;
}

/*
浏览器更新提示
*/
.browerupgrade{
    margin: 0;
    padding:1rem;
    background-color: #ccc;
}

/*
自定义页面样式
*/
body{
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a{
    color: #666;
    text-decoration: none;
}

a:hover,a:active {
    color: #0ae;
    text-decoration: underline;
}

/*
网站头部
*/
header {
    width: 100%;
}

header .top {
    line-height: 48px;
    padding: 0 1.5rem;
    color: #fff;
    background: #555;
    border-bottom:1px #ecc000 solid;
}

header .top .tel {
    float: left;
}

header .top ul {
    text-align: right;
}

header .top ul li {
    display: inline-block;

}

header .top ul li a {
    color: #fff;
    /*text-decoration: none;*/
    padding:0 10px;
}

header .top ul li + li {
    border-left: 1px solid #999;
}

header .main .brand {
    text-align: left;
    display: inline-block;
}

header .main ul {
    float: right;
}

header .main ul li{
    display: inline-block;
    padding:10px 50px;
}

header .main ul li a:hover{
    color: orange;
    text-decoration: none;
}

/*平台特点*/
.feature {
    width: 90%;
    margin:2rem auto;
    font-size: 0;
}

@media only screen and (min-width: 300px) {
    .feature .item {
        display: inline-block;
        width:calc(33.33333333333% - 3rem );
        padding: 1rem;
        font-size: 1.4rem;
        background-color: #fff;
        box-shadow: 0 0 4px #ccc;
    }
}


@media only screen and (max-width: 300px) {
    .feature .item {
        display: inline-block;
        width:250px;
        padding: 1rem;
        font-size: 1.4rem;
        background-color: #fff;
        box-shadow: 0 0 4px #ccc;
    }

}

.feature .item + .item {
    margin-left: 1.5rem;
}

.feature .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #ff9900;
}

.feature .item p {
    display: inline-block;
    width: 55%;
    margin: 0;
    padding: 0;
    color: #999;
}

/*
网站主要内容*/
.container {
    width: 100%;
}

/*底部导航*/
footer{
    width: 100%;
}
